/* About Us Page */
.about-us {
  padding: 3% 13%;
}
.about-title{
  color: lightgray;
  text-align: center;
  font-style: italic;
  padding-bottom: 10px;
}
.about-title1{
  color: lightgray;
  text-align: center;
  font-size: 1.2rem;
  font-style: italic;
}
.about-text {
  background-color: white;
  padding: 5% 15%;
  text-align: center;
}

.main {
  background-color: black;
  text-align: center;
}
.title {
  padding-bottom: 30px;
}

.title-text2 {
  line-height: 2.3;
  font-size: 15px;
}
